*{
    box-sizing:border-box;
    padding: 0;
    margin:0;
}
.cont{
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg");
    height:700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    text-align: center;
    background-color: black;
    color:white;
    padding: 20px;
}
.cont1{
    background-image: url("https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171_1280.jpg");
    height:700px;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b{
   background-color: black;
   color: white;
   height: 90px;
   padding:20px;

}